* {
	font-family: Raleway, Verdana, Georgia;
}

body {
	text-align: center;
}

.menuButton {
	display: inline;
}

.gridWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.cellRow {
	display: flex;
}

.cell {
	color: blue;
	border-style: solid;
	margin: 1px;
}


