* {
	font-family: 'Roboto Mono', monospace;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	height: 100vh;
	width: 100vw;
}

img {
	width: 100%;
	height: 100%;
}

.menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 1rem;
}

.menuButton {
	display: inline;
	padding: 5px 1em;
	background-color: rgb(49, 222, 83);
	margin: 5px;
	cursor: pointer;
	border-radius: 0.5em;
	font-size: 1em;
}

.menuButton:hover {
	color: white;
	background: rgb(29, 161, 51);
}

.flags, .timer {
	display: inline;
	padding: 5px 1em;
	border: 0px solid gray;
	background-color: rgb(212, 210, 140);
	margin: 5px;
	border-radius: 0.5em;
	font-size: 1em;
}

.gridWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-radius: 5px;
	padding: 1px;
	width: 60%;

	background-color: rgb(50, 110, 47);
}

.cellRow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell {
	color: white;
	text-align: center;
	font-size: 1rem;
	min-width: 0.25rem;
	width: 100%;
	height: 1rem;
	margin: 2px;
	padding: 2px;
}

.cell[state=hidden] {
	background-color: rgb(38, 135, 35);
	cursor: pointer;
}

.cell[state=hidden][shade=light] {
	background-color: rgb(51, 194, 47);
}

.cell[state=revealed] {
	background-color: rgb(140, 139, 94);
}

.cell[state=revealed][shade=light]{
	background-color: rgb(212, 210, 140);
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	visibility: hidden;
}

#overlay.active {
	visibility: visible;
}

#overlayin {
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px black;
}

p.statusMsg {
  font-size: 2em !important;
}

#overlayin p {
  text-align: center;
  font-size: 1em;
}

@media (orientation: portrait) {
	.grid {
		width: 100%;
	}
}

@media (orientation: landscape) {
	.grid {
		max-width: 800px;
	}
}